{% extends 'multimeter/page.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
{% block body %}
  <div class="container">
    <div>
      <p>
        <label for="search-input">юзернейм</label>
        <input type="text" id="search-input">
      </p>
      <nav>
        <ul id="account_list">
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
</body>
{% block styles %}
<style>
nav ul{height:200px;}
nav ul{overflow:hidden; overflow-y:scroll;}
</style>
{% endblock %}
{% block scripts %}
<script>
var accountListElement = $('#account_list')

$('#search-input').on('change keyup', function() {
    accountsByUsername($(this).val()).done(function (html) {
        accountListElement.html(html)
    });
});

$('#search-input').trigger('change');

function accountsByUsername(startsWith)
{
    return $.ajax({
        method: 'get',
        url: '{% url 'account_search' %}',
        data: {
            'username.sw': startsWith
        }
    })
}
</script>
{% endblock %}
</html>