{% extends "multimeter/menu.html" %}
{% load multimeter_custom_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% block title %}Список контестов{% endblock %}</h1>
                {% if object_list %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Время начала</th>
                                <th>Время завершения</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for contest in object_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'contest_update' contest.id %}">
                                        {{ contest.brief_name }}
                                    </a>
                                </td>
                                <td>{{ contest.start }}</td>
                                <td>{{ contest.stop }}</td>
                                <td class="text-right">
                                    <a href="{% url 'contest_delete' contest.id %}" class="btn btn-danger" role="button"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Ни один контест ещё не создан</p>
                {% endif %}
                <a href="{% url 'contest_create' %}" class="btn btn-primary">Добавить</a>
            </div>
        </div>
    </div>
{% endblock %}