{% extends 'multimeter/page.html' %}
{% load i18n %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% block title %}{% trans 'Confirm join' %}{% endblock %}</h1>
            </div>
        </div>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col">
                    <form method="post">
                        {% csrf_token %}
                        <p>{% trans 'Are you really want to join this contest' %} "{{ contest.brief_name }}"?</p>
                        <input type="submit" class="btn btn-danger" role="button" value="{% trans 'Yes' %}" />
                        <a href="{% url 'index' %}" class="btn btn-default" role="button" >{% trans 'Cancel' %}</a>
                    </form>
                </div>
            {% else %}
                <div class="col-4 offset-4">
                      <ul class="nav nav-tabs nav-justified" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link {% if not is_login %} active {% endif %}" href="#signup" role="tab" data-toggle="tab">{% trans 'Registration' %}</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link {% if is_login %} active {% endif %}" href="#signin" role="tab" data-toggle="tab">{% trans 'Login' %}</a>
                          </li>
                      </ul>
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane fade {% if not is_login %} show active {% endif %}" id="signup">
                              {% include 'multimeter/signup_form_controls.html' %}
                          </div>
                          <div role="tabpanel" class="tab-pane fade {% if is_login %} show active {% endif %}" id="signin">
                              {% include 'multimeter/login_form_controls.html' %}
                          </div>
                      </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}