{% extends "multimeter/menu.html" %}
{% load i18n %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>{% block title %}{% trans 'Contest list' %}{% endblock %}</h1>
				{% if object_list %}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>{% trans 'Brief name' %}</th>
								<th>{% trans 'Begin time' %}</th>
								<th>{% trans 'End time' %}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						{% for contest in object_list %}
							<tr data-url="{% url 'contest_update' contest.id %}">
								<td>{{ contest.brief_name }}</td>
								<td>{{ contest.start }}</td>
								<td>{{ contest.stop }}</td>
                <td class="text-right">
                  <a href="{% url 'contest_participants_list' contest.id %}" class="btn btn-primary" role="button"><i class="fas fa-user"></i></a>
                  &nbsp;
                  <a href="{% url 'contest_delete' contest.id %}" class="btn btn-danger" role="button"><i class="fas fa-trash-alt"></i></a>
                </td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>{% trans 'There are no contests yet' %}</p>
				{% endif %}
				<a href="{% url 'contest_create' %}" class="btn btn-primary">{% trans 'Create' %}</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		$(function () {
			$('table tbody tr').on('click', function(event) {
				window.location.href = $(this).data('url');
			});
		});
	</script>
{% endblock %}