{% extends "multimeter/menu.html" %}
{% load multimeter_custom_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% block title %}{{ caption }}{% endblock %}</h1>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% elif field|is_boolean %}
                            <div class="form-check">
                                {{ field|form_check_input }}
                                <label for="{{ field.id_for_label }}" class="form-check-label">
                                    {{ field.label }}
                                </label>
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|form_control }}
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
                    <a href="{{ cancel_url }}" class="btn btn-default">Отменить</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}