{% extends "multimeter/page.html" %}
{% load static %}
{% block body %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Главная</a>
            </div>
            <ul class="nav navbar-nav">
                {% if perms.ruler.add_template %}
                    <li{% if request.resolver_match.namespace == 'template' %} class="active"{% endif %}>
                        <a href="">Задачи</a>
                    </li>
                {% endif %}
                {% if perms.ruler.add_batch %}
                    <li{% if request.resolver_match.namespace == 'batch' %} class="active"{% endif %}>
                        <a href="">Условия</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown{% if request.resolver_match.namespace == 'profile' %} active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ user }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'account' %}"><span class="glyphicon glyphicon-user"></span> Профиль</a></li>
                        <li><a href="{% url 'password' %}"><span class="glyphicon glyphicon-lock"></span> Изменить пароль</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Выйти</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
{% endblock %}