{% extends "multimeter/menu.html" %}
{% load i18n %}
{% load multimeter_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{% block title %}{% trans 'Change password' %}{% endblock %}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <form method="post">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
          {% endfor %}

          {% form_control form.current_password %}
          {% form_control form.new_password %}
          {% form_control form.confirm_password %}

          <input type="submit" name="submit" class="btn btn-primary" value="{% trans 'Save' %}">
          <a href="{% url 'index' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}