{% extends "multimeter/menu.html" %}
{% load i18n %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>{% block title %}{% trans 'Problem list' %}{% endblock %}</h1>
				{% if object_list %}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>{% trans 'codename'|capfirst %}</th>
								<th>{% trans 'author'|capfirst %}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						{% for problem in object_list %}
							<tr data-url="{% url 'problem_update' problem.id %}">
								<td>{{ problem.codename }}</td>
								<td>{{ problem.author }}</td>
								<td class="text-right">
									<a href="{% url 'problem_delete' problem.id %}" class="btn btn-danger" role="button">
										<i class="fas fa-trash-alt"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>{% trans 'There are no problems yet' %}</p>
				{% endif %}
				<a href="{% url 'problem_create' %}" class="btn btn-primary">{% trans 'Create' %}</a>
                <a href="{% url 'problem_import' %}" class="btn btn-primary">{% trans 'Import' %}</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		$(function () {
		    // При клике на строку таблицы - нужно открыть форму редактирования задачи
			$('table tbody tr').on('click', function(event) {
				window.location.href = $(this).data('url');
			});
		});
	</script>
{% endblock %}