{% extends "multimeter/menu.html" %}
{% load multimeter_custom_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% block title %}Список задач{% endblock %}</h1>
                {% if problems %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Автор</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in problems %}
                            <tr>
                                <td>
                                    <a href="{% url 'problem_edit' p.id %}">{{ p.name }}</a>
                                </td>
                                <td>
                                    {{ p.author }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Ни одна задаче ещё не создана</p>
                {% endif %}
                <a href="{% url 'problem_add' %}" class="btn btn-primary">Добавить</a>
            </div>
        </div>
    </div>
{% endblock %}