{% extends "multimeter/menu.html" %}
{% load static %}
{% load multimeter_custom_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% block title %}Редактирование задачи{% endblock %}</h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab">Общие</a>
                        <a class="nav-item nav-link" id="nav-text-tab" data-toggle="tab" href="#nav-text" role="tab">Условия</a>
                        <a class="nav-item nav-link" id="nav-check-tab" data-toggle="tab" href="#nav-check" role="tab">Чекер</a>
                    </div>
                </nav>
                <form method="post">
                    {% csrf_token %}

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-general" role="tabpanel">
                            <div class="form-row">
                                {% include 'multimeter/form_input.html' with field=form.name col='col' %}
                                {% include 'multimeter/form_input.html' with field=form.author col='col' %}
                            </div>
                            <div class="form-row">
                                {% include 'multimeter/form_input.html' with field=form.input col='col' %}
                                {% include 'multimeter/form_input.html' with field=form.output col='col' %}
                            </div>
                        </div>
                        <div class="tab-pane fade active" id="nav-text" role="tabpanel">
                            {% include 'multimeter/form_input.html' with field=form.conditions %}
                            {% include 'multimeter/form_input.html' with field=form.solutions %}
                        </div>
                        <div class="tab-pane fade active" id="nav-check" role="tabpanel">
                            {% include 'multimeter/form_input.html' with field=form.checker_lang %}
                            {% include 'multimeter/form_input.html' with field=form.checker %}
                        </div>
                    </div>

                    <input type="submit" name="submit" class="btn btn-primary" value="Сохранить">
                    <a href="{{ cancel_url }}" class="btn btn-default">Отменить</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'multimeter/css/codemirror.css' %}">
    <style>
        .CodeMirror {
            border: 1px solid #ced4da;
            border-radius: .25rem;
            height: auto;
        }

        .CodeMirror-code {
            min-height: 200px;
        }

        .CodeMirror-focused {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
        }
    </style>
{% endblock %}
{% block scripts %}
    <script src="{% static 'multimeter/js/codemirror.js' %}"></script>
    <script src="{% static 'multimeter/js/mode/stex.js' %}"></script>
    <script src="{% static 'multimeter/js/mode/clike.js' %}"></script>
    <script>
        $(function () {
            CodeMirror.fromTextArea(
                document.getElementById('id_conditions'), {
                    lineNumbers: true,
                    matchBrackets: true,
                    mode: 'text/x-stex'
                }
            );

            CodeMirror.fromTextArea(
                document.getElementById('id_solutions'), {
                    lineNumbers: true,
                    matchBrackets: true,
                    mode: 'text/x-stex'
                }
            );

            CodeMirror.fromTextArea(
                document.getElementById('id_checker'), {
                    lineNumbers: true,
                    matchBrackets: true,
                    mode: 'text/x-c++src'
                }
            );
            
            // CodeMirror неправильно рисует элементы с display:none
            var $inactive_panes = $('div.tab-pane.fade.active').not('.show');
            $inactive_panes.removeClass('active');
        });
    </script>
{% endblock %}