{% extends "multimeter/menu.html" %}
{% load i18n %}
{% load static %}
{% load multimeter_tags %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>{% block title %}{% trans 'Edit problem' %}{% endblock %}</h1>
				<nav>
					<div class="nav nav-tabs" id="tabs" role="tablist">
						<a class="nav-item nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab">{% trans 'general'|capfirst %}</a>
						<a class="nav-item nav-link" id="statement-tab" data-toggle="tab" href="#statement" role="tab">{% trans 'statement'|capfirst %}</a>
						<a class="nav-item nav-link" id="check-tab" data-toggle="tab" href="#check" role="tab">{% trans 'checker'|capfirst %}</a>
						<a class="nav-item nav-link" id="subtasks-tab" data-toggle="tab" href="#subtasks" role="tab">{% trans 'subtasks'|capfirst %}</a>
					</div>
				</nav>
				<form method="post">
					{% csrf_token %}

					<div class="tab-content">

						<div class="tab-pane fade show active" id="general" role="tabpanel">
							<div class="form-row">
                                {% include 'multimeter/form_field.html' with field=form.codename %}
                                {% include 'multimeter/form_field.html' with field=form.tags %}
							</div>
							<div class="form-row">
                                {% include 'multimeter/form_field.html' with field=form.input_file %}
                                {% include 'multimeter/form_field.html' with field=form.output_file %}
							</div>
							<div class="form-row">
                                {% include 'multimeter/form_field.html' with field=form.time_limit %}
                                {% include 'multimeter/form_field.html' with field=form.memory_limit %}
							</div>
							<div class="d-none">
                                {% include 'multimeter/form_field.html' with field=form.author %}
                            </div>
						</div>

						<div class="tab-pane fade show active" id="statement" role="tabpanel">
                            {% if problem %}
                                {% if statements_to_add %}
                                <label for="stat">{% trans 'Add statement' %}</label>
                                <div class="row mb-3">
                                    <div class="col">
                                        <select id="add-statement-lang" class="form-control">
                                            {% for lang in statements_to_add %}
                                                <option value="{{ lang }}" data-url="{% url 'problem_statements' problem.pk lang %}">
                                                    {{ lang|capfirst }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-auto pl-0">
                                        <button class="btn btn-primary" id="add-statement-button">Add Statement</button>
                                    </div>
                                </div>
                                {% endif %}
                                {% if statements_languages %}
                                <div class="row">
                                    <div class="col">
                                        <p>{% trans 'Edit statements' %}</p>
                                        <table class="table table-hover" id="statements">
                                            <tbody>
                                            {% for lang in statements_languages %}
                                                <tr data-url="{% url 'problem_statements' problem.pk lang %}">
                                                    <td>{{ lang |capfirst }}</td>
                                                    <td class="text-right">
                                                    <a href="#" class="btn btn-danger" role="button">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% endif %}
                            {% else %}
                                <p>{% trans 'Statements can be created after problem is saved' %}</p>
                            {% endif %}
						</div>

                        <div class="tab-pane fade show active" id="check" role="tabpanel">
                            <div class="form-row">
                                {% include 'multimeter/form_field.html' with field=form.checker_lang %}
                            </div>
                            <div class="form-row">
                                {% include 'multimeter/form_field.html' with field=form.checker %}
                            </div>
                        </div>

						<div class="tab-pane fade show active" id="subtasks" role="tabpanel">
						{% if problem is None %}
							<p>{% trans 'Subtasks can be created after problem is saved' %}</p>
						{% elif problem.subtask_set.all|length == 0 %}
							<p>{% trans 'There are no subtasks yet' %}</p>
						{% else %}
							<table class="table table-hover" id="subtasks">
								<thead>
									<tr>
										<th>{% trans 'number'|capfirst %}</th>
										<th>{% trans 'scoring'|capfirst %}</th>
										<th>{% trans 'results'|capfirst %}</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								{% for subtask in problem.subtask_set.all %}
									<tr data-url="{% url 'subtask_update' subtask.id %}">
										<td>{{ subtask.number }}</td>
										<td>{{ subtask.get_scoring_display }}</td>
										<td>{{ subtask.get_results_display }}</td>
										<td class="text-right">
											<a href="{% url 'subtask_delete' subtask.id %}" class="btn btn-danger" role="button">
												<i class="fas fa-trash-alt"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						{% endif %}
						</div>

					</div>

					<input type="submit" name="submit" class="btn btn-primary" value="{% trans 'Save' %}">
					<a href="{% url 'problem_list' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
					{% if not problem is None %}
						<a href="{% url 'subtask_create' problem.id %}" class="btn btn-default" role="button">{% trans 'Create subtask' %}</a>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'multimeter/css/codemirror.css' %}">
	<style>
		.CodeMirror {
			border: 1px solid #ced4da;
			border-radius: .25rem;
			height: auto;
		}

		.CodeMirror-code {
			min-height: 200px;
		}

		.CodeMirror-focused {
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
		}
	</style>
{% endblock %}
{% block scripts %}
	<script src="{% static 'multimeter/js/codemirror.js' %}"></script>
	<script src="{% static 'multimeter/js/mode/stex.js' %}"></script>
	<script src="{% static 'multimeter/js/mode/clike.js' %}"></script>
	<script>
		$(function () {
			CodeMirror.fromTextArea(
				document.getElementById('id_checker'), {
					lineNumbers: true,
					matchBrackets: true,
					mode: 'text/x-c++src'
				}
			);
			
			// Переключаемся на вкладку
			var hash = window.location.hash;
			if (!hash) hash = '#general';
			$('#tabs a[href="' + hash + '"]').tab('show')
			
			// CodeMirror неправильно рисует элементы с display:none, поэтому
			// костыль скрывает изначально отображающееся содержимое вкладок
			var $tabs_should_be_hidden = $('div.tab-pane').not(hash);
			$tabs_should_be_hidden.removeClass('show active');

			// При клике на подзадачу переходим на форму редактирования
			$('#subtasks').on('click', 'tr', function(event) {
				window.location.href = $(this).data('url');
			});

			$('#statements').on('click', 'tr', function(event) {
			    window.location.href = $(this).data('url');
            });

            $('#add-statement-button').on('click', function(event) {
                window.location.href = $('#add-statement-lang :selected').data('url');
                event.preventDefault();
            });
		});
	</script>
{% endblock %}