{% load i18n %}
{% load multimeter_tags %}
<form method="post">
  {% csrf_token %}
  {% for error in signup_form.non_field_errors %}
    <p class="text-danger">{{ error }}</p>
  {% endfor %}
  {% form_control signup_form.username %}
  {% form_control signup_form.password %}
  {% form_control signup_form.email %}
  {% form_control signup_form.last_name %}
  {% form_control signup_form.first_name %}
  {% form_control signup_form.patronymic_name %}
  <input type="submit" name="submit-signup" class="btn btn-primary" value="{% trans 'Register' %}">
</form>