{% extends "multimeter/menu.html" %}
{% load i18n %}
{% block content %}
	<div id="form" class="d-none">{{ form }}</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>{% block title %}{% trans 'Edit subtask' %}{% endblock %}</h1>
				<form method="post">
					{% csrf_token %}
					
					{% if object %}
						<input type="hidden" name="problem" value="{{ object.problem.id }}">
					{% else %}
						<input type="hidden" name="problem" value="{{ view.kwargs.problem_id }}">
					{% endif %}
					<div class="form-group" data-form="number"></div>
					<div class="form-group" data-form="scoring"></div>
					<div class="form-group" data-form="results"></div>

					<input type="submit" name="submit" class="btn btn-primary" value="{% trans 'Save' %}">
					{% if object %}
						<a href="{% url 'problem_update' object.problem.id %}#subtasks" class="btn btn-default">{% trans 'Cancel' %}</a>
					{% else %}
						<a href="{% url 'problem_update' view.kwargs.problem_id %}#subtasks" class="btn btn-default">{% trans 'Cancel' %}</a>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}