{% extends "multimeter/menu.html" %}
{% load i18n %}
{% load multimeter_tags %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>{% block title %}{% trans 'Edit subtask' %}{% endblock %}</h1>
				<form method="post">
					{% csrf_token %}
					
          {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
          {% endfor %}

					{% if object %}
						<input type="hidden" name="problem" value="{{ object.problem.id }}">
					{% else %}
						<input type="hidden" name="problem" value="{{ view.kwargs.problem_id }}">
					{% endif %}

          {% form_control form.number %}
          {% form_control form.scoring %}
          {% form_control form.results %}

					<input type="submit" name="submit" class="btn btn-primary" value="{% trans 'Save' %}">
					{% if object %}
						<a href="{% url 'problem_update' object.problem.id %}#subtasks" class="btn btn-default">{% trans 'Cancel' %}</a>
					{% else %}
						<a href="{% url 'problem_update' view.kwargs.problem_id %}#subtasks" class="btn btn-default">{% trans 'Cancel' %}</a>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}