{% extends "multimeter/menu.html" %}
{% load multimeter_custom_tags %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>{% block title %}Список задач{% endblock %}</h1>
				{% if object_list %}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Название</th>
								<th>Автор</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						{% for task in object_list %}
							<tr data-url="{% url 'task_update' task.id %}">
								<td>{{ task.name }}</td>
								<td>{{ task.author }}</td>
								<td class="text-right">
									<a href="{% url 'task_delete' task.id %}" class="btn btn-danger" role="button">
										<i class="fas fa-trash-alt"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>Ни одна задаче ещё не создана</p>
				{% endif %}
				<a href="{% url 'task_create' %}" class="btn btn-primary">Создать</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		$(function () {
			$('table tbody tr').on('click', function(event) {
				window.location.href = $(this).data('url');
			});
		});
	</script>
{% endblock %}